/* ProductCard.css */
.swiper-button-next,
.swiper-button-prev {
  color: #6b7280;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.5rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(107, 114, 128, 0.2);
  color: #374151;
}
